<overview-two-columns-template>
  <overview-generic-nav-panel left-block></overview-generic-nav-panel>
  <div center-block>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <overview-simple-card>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=3&from=1493739229790&to=1496331229790&theme=light"></iframe>
            </div>
          </overview-simple-card>
        </div>
        <div class="col-6">
          <overview-simple-card>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=16&from=1493739329281&to=1496331329281&theme=light"></iframe>
            </div>
          </overview-simple-card>
        </div>
      </div>

      <br><br>

      <overview-simple-card>
        <div class="row">
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=6&from=1493740069564&to=1496332069564&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=17&from=1493740296638&to=1496332296638&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=2&from=1493740357192&to=1496332357192&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=14&from=1493740446456&to=1496332446456&theme=light"></iframe>
            </div>
          </div>
        </div>
      </overview-simple-card>

      <div class="row">

      </div>

      <br><br>

      <overview-simple-card>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=8&from=1493740577063&to=1496332577063&theme=light"></iframe>
          </div>
        </div>
      </overview-simple-card>
    </div>
  </div>
</overview-two-columns-template>
