<overview-two-columns-template>
  <overview-generic-nav-panel left-block></overview-generic-nav-panel>
  <div center-block>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <overview-simple-card>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=3&theme=light"></iframe>
            </div>
          </overview-simple-card>
        </div>
        <div class="col-6">
          <overview-simple-card>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=16&theme=light"></iframe>
            </div>
          </overview-simple-card>
        </div>
      </div>

      <br><br>

      <overview-simple-card>
        <div class="row">
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=6&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=17&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=2&theme=light"></iframe>
            </div>
          </div>
          <div class="col-3">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=14&theme=light"></iframe>
            </div>
          </div>
        </div>
      </overview-simple-card>

      <div class="row">

      </div>

      <br><br>

      <overview-simple-card>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=8&theme=light"></iframe>
          </div>
        </div>
      </overview-simple-card>
    </div>
  </div>
</overview-two-columns-template>
