<form class="p-2 form-inline">
  <div class="input-group row">
    <div class="col-md-6">
      <div class="row">
      <input type="text" class="form-control col-10" placeholder="Rechercher par mot clé, thème, cible..." aria-describedby="search">
      <button class="input-group-addon col-2" id="search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary">Voir toutes les visualisations de données</button>
    </div>
  </div>
</form>
