@import "colors";

$btn-primary-bg:                 $secondary-color;
$btn-primary-border:             $btn-primary-bg;
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-weight-normal: 300;
// navbar-inverse-color
$navbar-inverse-color: $white;
// Breadcrumbs
$breadcrumb-bg: $white;
$breadcrumb-divider-color: $black;
$breadcrumb-active-color: $black;
$breadcrumb-divider: ">";
$border-radius: 0;
// Cards
$card-border-color: $gray-light;
