/* Load Bootstrap variables */
@import "../node_modules/bootstrap/scss/_variables.scss";
/* Font */
@import "./src/assets/fonts/fonts.scss";
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/leaflet/dist/leaflet';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.btn {
  text-overflow: ellipsis;
}

#content {
  .container {
    margin-top: 45px;
    margin-bottom: 45px;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 5px;
      color: $black;
      font-size: 13px;
    }
  }
}

.bg-white {
  background-color: $white;
}

.input-group-addon, .form-control {
  border-radius: 0;
}

.control-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15);
  border-radius: 0;

  &-title {
    font-weight: 400;
  }

  &-text {
    margin-top: 20px;
    padding: 12px;
  }
}
