<app-dashboard>
    <app-dashboard-card-container [card]="card" main-cards>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=2&from=1493713176405&to=1496305176405&theme=light"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://grafana.metapolis.fr/dashboard-solo/db/tweets-bordeaux?panelId=6&from=1493713943056&to=1496305943056&theme=light"></iframe>
          </div>
        </div>
      </div>
    </app-dashboard-card-container>
  <app-used-data [datasets]="datasets" [theme]="theme" used-data></app-used-data>
  <div source-links>
    <span class="fa-stack fa-2x">
      <i class="fa fa-square fa-stack-2x twitter-color"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <a href="#">http://twitter.fr</a>
  </div>
</app-dashboard>
