<div class="with_border_right div_without_padding">
  <h2 class="text-center">Les visualisations de données</h2>
  <hr class="text-center">
  <ul>
    <li *ngFor="let data of visuallinks">
      <a routerLink="{{data.link.src}}" routerLinkActive="active" class="button_dataviz">
        <div class="button_dataviz_icon"><img [src]='data.img.src' alt="{{data.img.alt}}"></div>
        <div class="button_dataviz_text">{{data.link.text}}</div>
      </a>
    </li>
  </ul>
  <hr>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive>Accueil</a>
    </li>
    <li>
      <a routerLink="/404" routerLinkActive>Déconnexion</a>
    </li>
    <li>
      <div><img style=" margin-left: 90px; margin-botom: 30px;   height: 90px; width: 90px;" [src]='assets.larochelLogo.src' alt="{{assets.larochelLogo.alt}}"></div>
    </li>
</ul>

</div>
