<footer class="footer">
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
    <div class="container">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="https://metapolis.fr/">Metapolis</a>
        <a class="nav-item nav-link" *ngFor="let link of footerlinks" routerLink="{{link.src}}" routerLinkActive="active">
          {{link.text}}
        </a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><i class="fa fa-facebook"></i></a>
        <a class="nav-item nav-link" href="#"><i class="fa fa-twitter"></i></a>
        <a class="nav-item nav-link" href="#"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </nav>
</footer>
