@import "../../_colors";

#motscles_dashboard {
  width: 400px;
}

#jdd_dashboard {
  margin-left: 300px;
}

.sources {
  margin-top: 38px;
}

.dataviz_buttons {
  margin-bottom: 1.5em;

  button {
    font-size: 7px;
    width: 107px;
    background-color: $white;
    color: $brand-primary;
    border-color: $brand-primary;
    border-radius: 25px;
  }

  button:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

#color1 {
  background-color: #67A5B3;
}

#color2 {
  background-color: #AFD3DF;
}

#color3 {
  background-color: #67A5B3;
}

#analyses {
  width: 365px;
}

.carte {
  width: 632px;
  padding-bottom: 1.25em;
}

#no_padding {
  padding: 0;
}

#lacarte {
  padding: 1.25em;
}

.rounded_buttons {
  button {
    font-size: 10px;
    border-radius: 35px;
    margin-bottom: 1.5em;
  }
}

.button_map {
  margin-top: 10px !important;
  margin-bottom: 37px !important;
}

.legend {
  width: 110px;
}
