<canvas id="demo-canvas"></canvas>
<container-1></container-1>
<container-2></container-2>
      <!--3rd container -->

<div class="container definitions">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">OPEN SOURCE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">INNOVANTE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">ÉVOLUTIVE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
