<canvas id="demo-canvas"></canvas>
<container-1></container-1>
<!--2nd container -->
<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title text-left">Les thématiques</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="text-center">
              <a href="#"><li>Accessibilité</li></a>
              <a href="#"><li>Urbanisme</li></a>
              <a href="#"><li>Territoire</li></a>
              <a href="#"><li>Citoyenneté</li></a>
              <a href="#"><li>Économie</li></a>
              <a href="#"><li>Éducation & Jeunesse</li></a>
          </ul>
        </div>
        <div class="col-md-4 justify-content-center">
          <img class="card-img " src="/assets/img/thematiquesimg.jpg" width="208" height="208" alt="Metacity Logo">
        </div>
        <div class="col-md-4">
          <ul class="text-center">
              <a href="#"><li>Environnement</li></a>
              <a href="#"><li>Sports & Loisirs</li></a>
              <a href="#"><li>Santé</li></a>
              <a href="#"><li>Sécurité</li></a>
              <a href="#"><li>Mobilité</li></a>
              <a href="#"><li>Culture & Tourisme</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

      <!--3rd container -->

<div class="container definitions">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">OPEN SOURCE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">INNOVANTE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">ÉVOLUTIVE</h4>
        </div>
        <div class="card-text">
          <p>
            MetaCity est un outil open source de gestion de données « smart » des territoires. La plateforme doit contribuer à faire émerger une communauté d’utilisateurs (villes, citoyens,entreprises privées ) et agir comme un  « tiers de confiance » pour favoriser la transparence et les échanges entre chacun.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
