<div class="container ">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Les mots clés</h4>
          <div class="card-text">
            <img [src]="assets.wordCloud.src" alt="{{assets.wordCloud.alt}}" id="motscles_dashboard">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Les derniers tweets</h4>
          <div class="card-text">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/OpenData" data-widget-id="864076000140906496">#OpenData Tweets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
