<!--2nd container -->
<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title text-left">Les thématiques</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="text-center">
              <a href="#"><li>Accessibilité</li></a>
              <a href="#"><li>Urbanisme</li></a>
              <a href="#"><li>Territoire</li></a>
              <a href="#"><li>Citoyenneté</li></a>
              <a href="#"><li>Économie</li></a>
              <a href="#"><li>Éducation & Jeunesse</li></a>
          </ul>
        </div>
        <div class="col-md-4 justify-content-center">
          <img class="card-img " [src]=assets.thematiques.src width="208" height="208" alt="{{assets.thematiques.alt}}">
        </div>
        <div class="col-md-4">
          <ul class="text-center">
              <a href="#"><li>Environnement</li></a>
              <a href="#"><li>Sports & Loisirs</li></a>
              <a href="#"><li>Santé</li></a>
              <a href="#"><li>Sécurité</li></a>
              <a href="#"><li>Mobilité</li></a>
              <a href="#"><li>Culture & Tourisme</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
