<div class="title align-middle">Le trafic et l'accidentologie à La Rochelle</div>
<div class="choice choice-title">
  <div class="d-flex justify-content-center">
    <div class="p-2">
      <button type="button" class="btn btn-primary btn-xs">La carte</button>
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-primary btn-xs">Les analyses</button>
    </div>
  </div>
</div>
<div class="choice choice-content d-flex flex-column">
  <select class="selectpicker">
    <option>Véhicules impliqués</option>
    <option>Voiture</option>
    <option>Vélo et Skateboards</option>
    <option>Deux-roues motorisées</option>
    <option>Tracteurs</option>
    <option>Bus et Cars</option>
    <option>Trains</option>
  </select>
  <md-slider ng-model="myValue" min="5" max="500" step="5">
  </md-slider>
</div>
