<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title text-left">Une plateforme numérique « Data Smart City »</h2>
      <div class="row">
        <div class="col-md-4">
          <img class="card-img" [src]="assets.src.metacityLogo" width="208" height="208" alt={{assets.metacityLogo.alt}}>
        </div>
        <div class="col-md-8">
          <h3>Visualisation de données</h3>
          <p class="card-text">
            Metacity est une plateforme de collecte de données multi-domaines favorisant l’analyse, la supervision / hypervision et l’aide au pilotage des services urbains. Cette plateforme « tiers de confiance » est mise à disposition des acteurs des
            territoires pour piloter la gouvernance des services de la ville afin de partger la gouvernance entre autorités organisatrices et opérateurs du service, opérer les services, construire des indicateurs de performances des services et d’héberger
            des données du service pour limiter des données aux systèmes d’informations
          </p>
          <p class="card-text text-right">
            [Cette plateforme est construite de manière collaborative]
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
