<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title text-left">Une plateforme numérique « Data Smart City »</h4>
      <div class="row">
        <div class="col-md-4 d-inline-flex justify-content-center">
          <img class="card-img" [src]="assets.metacityLogo.src" width="224" height="224" alt={{assets.metacityLogo.alt}}>
        </div>
        <div class="col-md-8">
          <div class="text-center">
            <h5>Visualisation de données</h5>
          </div>
          <p class="card-text">
            {{text}}
          </p>
          <p class="card-text text-right">
            [Cette plateforme est construite de manière collaborative]
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
