<!-- Begin page content -->
<!-- contact form -->
<canvas id="demo-canvas"></canvas>
<div class="container" id="inscription">
  <div class="card">
    <form class="form-horizontal" action='' method="POST">
      <fieldset class="text-center">
        <div id="legend">
          <legend class="">Inscription</legend>
        </div>
        <div class="card-text col-md-6">En s’inscrivant sur la plateforme MetaCity vous aurez accès à des jeux de données et leur visualisation graphique </div>
        <div class="control-group">
          <div class="control-group">
            <!-- Username -->
            <div class="nom">
              <input type="text" id="username" name="username" placeholder="Nom" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group">
            <!-- Firstname -->
            <div class="controls">
              <input type="text" id="firstname" name="firstname" placeholder="Prénom" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group">
            <!-- mail -->
            <div class="controls">
              <input type="text" id="mail" name="mail" placeholder="@mail" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group">
            <!-- password -->
            <div class="controls">
              <input type="text" id="password" name="password" placeholder="Mot de passe" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group">
            <!-- password confirmation -->
            <div class="controls">
              <input type="text" id="password_confirmation" name="password_confirmation" placeholder="Confirmation du mot de passe" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group ">
            <!-- user role -->
            <div class="form-group col-md-6 justify-content-center">
              <label for="sel1" class="col-md-6">Votre rôle utilisateur</label>
              <select class="form-control col-md-6" id="sel1">
                  <option>Citoyens</option>
                  <option>Élu de la collectivité</option>
                  <option>Agent de la collectivité</option>
                  <option>Entreprise</option>
                  <option>Association</option>
                </select>
            </div>
          </div>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">S'inscrire</button>
          </div>
          <!-- Connexion -->
          <a class="connexion" href="#">Se connecter</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
