<div class="container">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title text-left">Trouvez vos visualisations de données</h2>
      <div class="row">
        <div class="justify-content-center col-md-6 monde">
          <img class=" justify" src="/assets/img/monde.png" alt="image statique Monde">
        </div>
        <div class="col-md-6 search_informations">
          <h5>Thèmes</h5>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <a href="#">
                  <li>Accessibilité</li>
                </a>
                <a href="#">
                  <li>Urbanisme</li>
                </a>
                <a href="#">
                  <li>Territoire</li>
                </a>
                <a href="#">
                  <li>Citoyenneté</li>
                </a>
                <a href="#">
                  <li>Économie</li>
                </a>
                <a href="#">
                  <li>Éducation & Jeunesse</li>
                </a>
              </ul>
            </div>
            <div class=" col-md-6">
              <ul>
                <a href="#">
                  <li>Environnement</li>
                </a>
                <a href="#">
                  <li>Sports & Loisirs</li>
                </a>
                <a href="#">
                  <li>Santé</li>
                </a>
                <a href="#">
                  <li>Sécurité</li>
                </a>
                <a href="#">
                  <li>Mobilité</li>
                </a>
                <a href="#">
                  <li>Culture & Tourisme</li>
                </a>
              </ul>
            </div>
          </div>
          <h5>Profil</h5>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <a href="#">
                  <li>Citoyens</li>
                </a>
                <a href="#">
                  <li>Élu de la collectivité</li>
                </a>
                <a href="#">
                  <li>Agent de la collectivité</li>
                </a>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <a href="#">
                  <li>Entreprises</li>
                </a>
                <a href="#">
                  <li>Associations</li>
                </a>
              </ul>
            </div>
          </div>
          <h5>Visuels</h5>
          <ul>
            <a href="#">
              <li><img src="/assets/img/pie-chartbleu.svg" width="208" height="208" alt="Metacity Logo"></li>
            </a>
            <a href="#">
              <li><img src="/assets/img/statisticsbleu.svg" width="208" height="208" alt="Metacity Logo"></li>
            </a>
            <a href="#">
              <li><img src="/assets/img/placeholderbleu.svg" width="208" height="208" alt="Metacity Logo"></li>
            </a>
            <a href="#">
              <li><img src="/assets/img/wavebleu.svg" width="208" height="208" alt="Metacity Logo"></li>
            </a>
            <a href="#">
              <li><img src="/assets/img/analyticsbleu.svg" width="208" height="208" alt="Metacity Logo"></li>
            </a>
          </ul>
          <div class="d-flex justify-content-center clear">
            <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
          </div>
          <div class="showall">
            <a href="#">Voir tout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
