<app-dashboard>
  <div class="row" main-cards>
    <div class="col-md-7">
      <app-dashboard-card-container [card]="cardMap">
        <img [src]="assets.accidentsCarte.src" alt="{{assets.accidentsCarte.alt}}" class="carte">
      </app-dashboard-card-container>
    </div>
    <div class="col-md-5">
      <app-dashboard-card-container [card]="cardGraph">
        <img [src]="assets.victimes.src" alt="{{assets.victimes.alt}}" id="analyses">
      </app-dashboard-card-container>
    </div>
  </div>
  <app-used-data [datasets]="datasets" used-data></app-used-data>
  <div source-links>
    <a href="#">www.datagouv.fr</a>
  </div>
</app-dashboard>
