<div class="container" id="inscription">
  <div class="card">
    <form class="form-horizontal" action='' method="POST">
      <fieldset class="text-center">
        <div id="legend">
          <legend class="">Connexion</legend>
        </div>
        <div class="row">
          <div class="card-text col-md-6 offset-md-3">
            Connectez-vous sur la plateforme MetaCity pour avoir accès aux jeux de données ouvertes.
          </div>
        </div>
        <div class="control-group">
          <div class="control-group">
            <!-- mail -->
            <div class="controls">
              <input type="text" id="mail" name="mail" placeholder="@mail" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group">
            <!-- mot de passe -->
            <div class="controls">
              <input type="text" id="password" name="password" placeholder="Mot de passe" class="input-xlarge col-md-6">
            </div>
          </div>
          <div class="control-group ">
          </div>
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary rounded_button">Se connecter</button>
          </div>
          <!-- Inscription et mot de passe -->
          <a class="connexion" href="#">S'inscrire</a>
          <a class="connexion" href="#">Mot de passe oublié?</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
