<div class="container">
  <div class="card">
    <div class="card-block">
      <div class="row jdd">
        <div class="col-md-6">
          <h4 class="card-title text-left">Les derniers jeux de données</h4>
        </div>
        <div class="col-md-6">
          <a href="#"><img src="/assets/img/layers.svg" width="208" height="208" alt="Metacity Logo"></a>
        </div>
        <div class="container">
        <div class="d-flex justify-content-center">
          <div class="block_jdd">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
          <div class="block_jdd">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
          <div class="block_jdd" id="color1">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
          <div class="block_jdd" id="color2">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
          <div class="block_jdd" id="color3">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
          <div class="block_jdd" id="color4">
            <h6 class="text-center">AGENDA DES MANIFESTATIONS CULTURELLES</h6>
            <p>Modifié il y a 2 jours <br>1120 téléchargements <br>Culture</p>
          </div>
        </div>
      </div>
      </div>
      <div class="showall">
        <a href="#" class="text-center">Voir tout</a>
      </div>
    </div>
  </div>
</div>
