<div class="container without_padding accidents">
  <div class="row ">
    <div class="col-md-2 with_border_right div_without_padding">
      <h2 class="text-center">Les visualisations de données</h2>
      <hr class="text-center">
      <ul>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.home.src' alt="{{assets.home.alt}}"></div>
            <div class="button_text">Dashboard</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.code.src' alt="{{assets.code.alt}}"></div>
            <div class="button_text">Intégrer</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.search.src' alt="{{assets.search.alt}}"></div>
            <div class="button_text">Rechercher</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.worldwide.src' alt="{{assets.worldwide.alt}}"></div>
            <div class="button_text">Carte</div>
          </a>
        </li>
      </ul>
      <hr>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Déconnexion</a></li>
      </ul>
    </div>
    <div class="col-md-7 without_border div_without_padding dataviz d-inline-flex justify-content-center">
      <ng-content select="[graph]"></ng-content>
    </div>
    <div class="col-md-3 with_border_left div_without_padding">
      <div class="title align-middle">Le traffic et l'accidentologie à la Rochelle</div>
      <div class="choice choice-title">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <button type="button" class="btn btn-primary btn-xs">La carte</button>
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-primary btn-xs">Les analyses</button>
          </div>
        </div>
      </div>
      <div class="choice choice-content d-flex flex-column">
        <button type="button" class="btn btn-primary btn-xs">Nombre de victimes</button>
        <button type="button" class="btn btn-primary btn-xs">Evolution des accidents</button>
        <button type="button" class="btn btn-primary btn-xs">Age des victimes</button>
        <button type="button" class="btn btn-primary btn-xs">Endroits fréquemment accidentés</button>
      </div>
    </div>
  </div>
</div>
