<div class="container without_padding accidents">
  <div class="row ">
    <div class="col-md-2 with_border_right div_without_padding">
      <h2 class="text-center">Les visualisations de données</h2>
      <hr class="text-center">
      <ul>
        <li *ngFor="let data of visuallinks">
          <a  routerLink="{{data.link.src}}" routerLinkActive="active" class="button_dataviz">
            <div class="button_dataviz_icon"><img [src]='data.img.src' alt="{{data.img.alt}}"></div>
            <div class="button_dataviz_text">{{data.link.text}}</div>
          </a>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive>Accueil</a>
        </li>
        <li>
          <a routerLink="404" routerLinkActive>Déconnexion</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7 without_border div_without_padding dataviz">
      <ng-content select="[graph]"></ng-content>
    </div>
    <div class="col-md-3 with_border_left div_without_padding">
      <div class="title align-middle">Le trafic et l'accidentologie à La Rochelle</div>
      <div class="choice choice-title">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <button type="button" class="btn btn-primary btn-xs">La carte</button>
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-primary btn-xs">Les analyses</button>
          </div>
        </div>
      </div>
      <div class="choice choice-content d-flex flex-column">
        <button type="button" class="btn btn-primary btn-xs">Nombre de victimes</button>
        <button type="button" class="btn btn-primary btn-xs">Evolution des accidents</button>
        <button type="button" class="btn btn-primary btn-xs">Age des victimes</button>
        <button type="button" class="btn btn-primary btn-xs">Endroits fréquemment accidentés</button>
      </div>
    </div>
  </div>
</div>
