<div class="container without_padding accidents">
  <div class="row ">
    <div class="col-md-2 with_border_right div_without_padding">
      <h2 class="text-center">Les visualisations de données</h2>
      <hr class="text-center">
      <ul>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.home.src' alt="{{assets.home.alt}}"></div>
            <div class="button_text">Dashboard</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.code.src' alt="{{assets.code.alt}}"></div>
            <div class="button_text">Intégrer</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.search.src' alt="{{assets.search.alt}}"></div>
            <div class="button_text">Rechercher</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="button_dataviz"><img [src]='assets.worldwide.src' alt="{{assets.worldwide.alt}}"></div>
            <div class="button_text">Carte</div>
          </a>
        </li>
      </ul>
      <hr>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Déconnexion</a></li>
      </ul>
    </div>
    <div class="col-md-7 without_border div_without_padding dataviz">
      <!-- <img src="/assets/img/dataviz_accident.png"> -->
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-3 with_border_left div_without_padding">
      <div class="title align-middle">Le traffic et l'accidentologie à la Rochelle</div>
      <div class="choice">
        <ul>
          <li><button type="button" class="btn btn-primary btn-xs">Nombre de victimes</button></li>
          <li><button type="button" class="btn btn-primary btn-xs">Evolution des accidents</button></li>
          <li><button type="button" class="btn btn-primary btn-xs">Age des victimes</button></li>
          <li><button type="button" class="btn btn-primary btn-xs">Endroits fréquemment accidentés</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
