<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <div class="container">
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img [src]='assets.whiteLogo.src' width="90" height="90" alt="{{assets.whiteLogo.alt}}">
    </a>
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li *ngFor="let link of navlinks" class="nav-item">
          <a routerLink="{{link.src}}" routerLinkActive="active" class="nav-link">{{link.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="subnav">
  <nav class="navbar navbar-light bg-white">
    <div class="container">
      <div class="d-flex justify-content-center">
        <app-visualisation-form></app-visualisation-form>
      </div>
    </div>
  </nav>
  <nav class="breadcrumb">
    <a routerLink="/" routerLinkActive="active" class="breadcrumb-item breadcrumb-home"><img [src]="assets.homeIcon.src" alt="home"></a>
  </nav>
</div>
