<div class="container without_padding accidents">
  <div class="row ">
    <div class="col-md-2 with_border_right div_without_padding">
      <h2 class="text-center">Les visualisations de données</h2>
      <hr class="text-center">
      <ul>
        <li *ngFor="let data of visuallinks">
          <a routerLink="{{data.link.src}}" routerLinkActive="active" class="button_dataviz">
            <div class="button_dataviz_icon"><img [src]='data.img.src' alt="{{data.img.alt}}"></div>
            <div class="button_dataviz_text">{{data.link.text}}</div>
          </a>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive>Accueil</a>
        </li>
        <li>
          <a routerLink="carte" routerLinkActive>carte</a>
        </li>
        <li>
          <a routerLink="404" routerLinkActive>Déconnexion</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7 without_border div_without_padding dataviz">
      <ng-content select="[center-block]"></ng-content>
    </div>
    <div class="col-md-3 with_border_left div_without_padding">
      <ng-content select="[right-block]"></ng-content>
    </div>
  </div>
</div>
