@import "../../../../_variables";

.with_border_left {
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15) !important;
  border-color: $card-border-color;
}

.with_border_right {
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15) !important;
  border-color: $card-border-color;
  background-color: $white;
  z-index: 1;

  h2 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    margin-top: 80px;
  }

  hr {
    width: 100px;
  }
}

.without_padding {
  width: 100vw !important;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.div_without_padding {
  height: 100vh;
  padding: 0 !important;

  a {
    display: inline-block;
    margin-top: 20px;
    color: $black;
    text-decoration: none;
  }

  a:hover {
    font-style: none;
    color: $brand-primary;
  }
}

.accidents {
  img {
    width: 100%;
    margin-top: 100px;
  }

  .dataviz {
    background-color: $white;
  }
}

.title {
  background-color: $brand-primary;
  color: $white;
  font-weight: 500;
  height: 150px;
  line-height: 150px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
}

.choice {
  &-title {
    background-color: #DBEAF0;
    padding: 20px 0;
  }

  &-content {
    padding: 40px 20px;

    button {
      margin-bottom: 15px;
    }
  }

  button {
    border-radius: 45px;
    background-color: $white;
    color: $black;
    border-color: $gray-light;
    padding: 12px 30px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    &:hover {
      background-color: $brand-primary;
      transition: background-color 700ms linear;
      color: $white;
    }

    &:active {
      background-color: $brand-primary;
      color: $white;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
  }
}

.button_dataviz {

  &:hover {
    .button_dataviz_icon {
      background-color: $brand-primary;
      transition: background-color 700ms linear;

      img {
        filter: invert(100%);
      }
    }
  }

  &_icon {
    width: 50px;
    height: 50px;
    background-color: $body-bg;
    border-radius: 100px;
    border: 2px solid $gray-light;
    display: inline-block;

    img {
      width: 25px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }

  &_text {
    margin-left: 25px;
    display: inline-block;
  }
}
