<div class="with_border_left div_without_padding">
  <div class="title align-middle">Le trafic et l'accidentologie à {{ locationService.getCurrentLocationName() }}</div>
  <div class="choice choice-title">
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <button type="button" class="btn btn-primary btn-xs">La carte</button>
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-primary btn-xs">Les analyses</button>
      </div>
    </div>
  </div>
  <div class="choice choice-content d-flex flex-column">
    <!-- <ng2-select [placeholder]="Les voitures accidentees" [multiple]="true" [displayBy]="value" [identifyBy]="id" [options]="vehicules" [(ngModel)]="multipleValuesModel">
    </ng2-select> -->
    <p *ngIf="multipleValuesModel.length">
      <span>Vous avez séléctionné
      </span>
      <span *ngFor="let option of multipleValuesModel">
        {{ option.value }},
      </span>
    </p>

    <md-slider ng-model="myValue" min="5" max="500" step="5"></md-slider>
    <div ng-controller="AppCtrl" class="md-padding demo">
      <div layout="row" layout-wrap>
        <div flex="100" layout="column">
          <div>
            <fieldset class="demo-fieldset">
              <div layout="row" layout-wrap flex>
                <div flex-xs flex="50">
                  <md-checkbox #Pluie value="Pluie" (change)="check(Pluie)" [checked]="true" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    <span ng-if="isChecked()">Pluie</span>
                  </md-checkbox>
                </div>
                <div flex-xs flex="50">
                  <md-checkbox #Vent value="Vent" (change)="check(Vent)" [checked]="true" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    <span ng-if="isChecked()">Vents forts</span>
                  </md-checkbox>
                </div>
                <div flex-xs flex="50">
                  <md-checkbox #Brouillard value="Brouillard" (change)="check(Brouillard)" [checked]="true" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    <span ng-if="isChecked()">Brouillard</span>
                  </md-checkbox>
                </div>
                <div flex-xs flex="50">
                  <md-checkbox #Beau value="Beau" (change)="check(Beau)" [checked]="true" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    <span ng-if="isChecked()">Beau temps</span>
                  </md-checkbox>
                </div>
                <div flex-xs flex="50">
                  <md-checkbox #Neige value="Neige" (change)="check(Neige)" [checked]="true" aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    <span ng-if="isChecked()">Neige</span>
                  </md-checkbox>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
