/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

.navbar-brand img {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item {
  color: black;

  //&::before {
  //  -webkit-text-stroke: 2px white;
  //}
}

.breadcrumb-home {
  width: 1rem;
  height: 1rem;
}

.subnav {
  border-bottom: 1px solid $gray-light;
}

.card {
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15);

  &-title {
    font-weight: 400;
  }

  &-text {
    margin-top: 20px;
    padding: 12px;
  }
}

body > .container {
  padding: 45px 15px 45px;
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 5px;
    color: $black;
    font-size: 13px;
  }
}

.footer {
  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .fa {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
  }

  font-size: 12px;
}

code {
  font-size: 80%;
}

.without_border {
  border: none;
  background-color: none;
}

.definitions  {
  .card-block   {
  background-color: $brand-primary;
  color : $white;
  text-align: center;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width:  100%;
  height:  100%;
  z-index : -1000;
}

#inscription {
  padding: 45px 170px 45px;
}

.search_informations {
  ul {
    list-style: none;
  }
  img {
    width: 85px;
    height: 35px;
    display: inline-block;
    float: left;
  }
}

.monde {
  img {
    width: 440px;
  }
}

.clear {
  clear:both;
      button {
        margin-top: 35px;
      }
}

.showall {
  display: block;
  float: right;
}

.jdd {
  img{
    display: block;
    float: right;
    height: 30px;
    width: 30px;
  }
  .block_jdd {
    background-color: $brand-primary;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 7px;
    margin-top: 12px;
    box-shadow: 3px 6px 20px 4px rgba(0, 0, 0, 0.15);
    position: relative;

  }
    p, h6 {color: $white;
    }

    p{
      font-size: 10px;
      margin-left: 10px;
      position: absolute;
      bottom: 0;
    }

    h6 {
      position: absolute;
      transform: translate(0%,80%);

    }

}
#nuage {
 width: 680px;
}
#mots {
  width:330px;
}

#color1 {
  background-color: #67A5B3;
}

#color2 {
  background-color: #AFD3DF;
}

#color3 {
  background-color: #67A5B3;
}

#analyses {
  width: 430px;
}

#carte {
  width: 632px;
  padding-bottom: 1.25em;
}

#no_padding {
  padding: 0em;
}

#lacarte {
  padding: 1.25em;
}

#motscles_dashboard {
  width: 400px;
}

#jdd_dashboard {
  margin-left: 300px;
}
